<head><link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div class="backgroundimage" style="background-image: url('/assets/uchicagocover.jpg')">
  <!-- <figure>
    <img src="/assets/uchicagocover.jpg"/>
  </figure>
  <figure>
    <img src="/assets/nyucover.JPG" />
  </figure>
  <figure>
    <img src="/assets/UCLA3.png" />
  </figure>
  <figure>
    <img src="/assets/umichcover.jpg"/>
  </figure> -->
  <!-- <figure>
    <img src="" />
  </figure>
  <figure>
    <img src="" />
  </figure>
  <figure>
    <img src=""/>
  </figure> -->
<div class=container1>
  <div>
    <h1 class="treehouse"><strong>Treehouse</strong></h1>
    <h1 class="thedescription">Search for your destination</h1>
  </div>
<div class="searchome">
<%= form_tag search_path, method: :get do %>
    <div>
      <%= text_field_tag :search, params[:search], placeholder: "University, city, or address", class: "form-control" %>
      <h1 class=description2>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      </h1>
    </div>

    <!-- <div class= "col-md-4">
      <%= text_field_tag :start_date, params[:start_date], placeholder: "Move In", class: "form-control" %>
    </div>
    <div class= "col-md-4">
      <%= text_field_tag :end_date, params[:end_date], placeholder: "Move Out", class: "form-control" %>
    </div> -->
    <% end %>
</div>
<div><h1 class="middleor">Or</h1></div>
  <div>
    <h1 class=description2><%= link_to "Post your place", new_property_path, class: "btn btn-primary"%></h1>
  </div>
</div>
</div>
  <br>

<div class="text-center">
  <h2>Click on a school to find the perfect sublet</h2>
  <!-- <p>Find a home you can trust.</p> -->
</div>

<br>

<div class="row">
  <div class="col-md-3 col-sm-6">
    <a href="http://treehousebeta.herokuapp.com/search?utf8=%E2%9C%93&search=University+of+Chicago">
      <div class="discovery-card" style="background-image: url('/assets/UChicago.jpg')">
        <div class="va-container">
          <div class="va-middle text-center">
            <h2><strong>The University of Chicago</strong></h2>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-3 col-sm-6">
    <a href="http://treehousebeta.herokuapp.com/search?utf8=%E2%9C%93&search=new+york+city">
      <div class="discovery-card" style="background-image: url('/assets/NYU.jpg')">
        <div class="va-container">
          <div class="va-middle text-center">
            <h2><strong>New York University</strong></h2>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-3 col-sm-6">
    <a href="http://treehousebeta.herokuapp.com/search?utf8=%E2%9C%93&search=ann+arbor">
      <div class="discovery-card" style="background-image: url('/assets/UMich.jpg')">
        <div class="va-container">
          <div class="va-middle text-center">
            <h2><strong>University of Michigan</strong></h2>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-3 col-sm-6">
    <a href="http://treehousebeta.herokuapp.com/search?utf8=%E2%9C%93&search=UCLA">
      <div class="discovery-card" style="background-image: url('/assets/UCLA2.jpg')">
        <div class="va-container">
          <div class="va-middle text-center">
            <h2><strong>UCLA</strong></h2>
          </div>
        </div>
      </div>
    </a>
  </div>

</div>

<br>

<div class="text-center">
  <h2> Featured Listings </h2>
</div>

<div class = "row">

  <% @properties.each do |property| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading preview">
          <%= image_tag property.show_first_photo(:medium) %>
        </div>
        <div class="panel-body">
          <%= image_tag avatar_url(property.user), class: "img-circle avatar-small" %>&nbsp;
          <%= link_to property.listing_name, property_path(property)%>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(function() {
    $("start_date").datepicker({
      dateFormat: 'dd-mm-yy'
      minDate: 0,
      maxDate: '12m',
      onSelect: function(selected) {
        $('#end_date').datepicker("option", "minDate", selected);
        $('#end_date').attr('disabled', false);
      }
    });

    $("end_date").datepicker({
      dateFormat: 'dd-mm-yy'
      minDate: 0,
      maxDate: '12m',
      onSelect: function(selected) {
        $('#start_date').datepicker("option", "minDate", selected);
        $('#start_date').attr('disabled', false);
      }
    });
  })

</script>
</head>
