<div id="wrapper">

	<div id="sidebar">
		<div id="widget" class="sticky">
			<script>
					function initMap() {
						var mapDiv = document.getElementById('widget');
						var map = new google.maps.Map(mapDiv, {
								<% if @arrProperties.length > 0 %>
								center: {lat: <%=@arrProperties[0].latitude%>, lng: <%=@arrProperties[0].longitude%>},
								<% else %>
								center: {lat: 44.5403, lng: -78.5463},
								<% end %>

								zoom: 14
						});

						<% @arrProperties.each do |property| %>
							var marker = new google.maps.Marker({
								position: new google.maps.LatLng(<%= property.latitude %>, <%= property.longitude %>),
								title: "Treehouse"
							});

							marker.setMap(map);
						<% end %>
					}
			</script>
			<script async defer
						src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqYq1yXZcYlqT5VyLh2UR-BZkseMlMHXI&callback=initMap">
			</script>
		</div>
	</div>

	<div id="article">

		<div class="row">

			<div class="col-md-12">

			<%= search_form_for @search, url: search_path do |f| %>

				<div class="row">
					<div class="col-md-3">
						<%= text_field_tag :start_date, params[:start_date], placeholder: "Move In", class: "form-control" %>
					</div>
					<div class="col-md-3">
						<%= text_field_tag :end_date, params[:end_date], placeholder: "Move Out", class: "form-control" %>
					</div>
					<div class="col-md-3">
						<%= f.text_field :price_gteq, placeholder: "Min Price", class: "form-control" %>
					</div>
					<div class="col-md-3">
						<%= f.text_field :price_lteq, placeholder: "Max Price", class: "form-control" %>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class = "col-md-1">
						Select Quarter(s)
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3">
						<%= check_box_tag "q[quarter_eq_any][]", "Fall" %> Fall
					</div>
					<div class="col-md-3">
						<%= check_box_tag "q[quarter_type_eq_any][]", "Winter" %> Winter
					</div>
					<div class="col-md-3">
						<%= check_box_tag "q[quarter_eq_any][]", "Spring" %> Spring
					</div>
					<div class="col-md-3">
						<%= check_box_tag "q[quarter_type_eq_any][]", "Summer" %> Summer
					</div>
				</div>
				<hr>
				<hr>
				<div class="row">
					<div class = "col-md-1">
						Select Semester(s)
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3">
						<%= check_box_tag "q[semester_eq_any][]", "Fall" %> Fall
					</div>
					<div class="col-md-3">
						<%= check_box_tag "q[semester_type_eq_any][]", "Spring" %> Spring
					</div>
				</div>

				<hr>
				<div class="row">
					<div class="col-md-3">
						<%= check_box_tag "q[property_type_eq_any][]", "Apartment" %> Apartment
					</div>
					<div class="col-md-3">
						<%= check_box_tag "q[property_type_eq_any][]", "House" %> House
					</div>
					<div class="col-md-3">
						<%= check_box_tag "q[property_type_eq_any][]", "Frat House" %> Frat House
					</div>
          <div class="col-md-3">
            <%= check_box_tag "q[property_type_eq_any][]", "Town House" %> Town House
          </div>
				</div>

				<hr>

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Accommodate</label>
							<%= f.select :accommodate_gteq, [["1",1], ["2",2], ["3",3], ["4",4], ["5",5], ["6+",6]], prompt: "Select...", class: "form-control" %>
						</div>
					</div>

          <!-- <div class="col-md-4">
            <div class="form-group">
              <label>Rooms</label>
              <%= f.select :accommodate_gteq, [["1",1], ["2",2], ["3",3], ["4+",4]], prompt: "Select...", class: "form-control" %>
            </div>
          </div> -->

					<div class="col-md-4">
						<div class="form-group">
							<label>Bedrooms</label>
							<%= f.select :accommodate_gteq, [["1",1], ["2",2], ["3",3], ["4+",4]], prompt: "Select...", class: "form-control" %>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label>Bathrooms</label>
							<%= f.select :accommodate_gteq, [["1",1], ["2",2], ["3",3], ["4+",4]], prompt: "Select...", class: "form-control" %>
						</div>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-md-4">
						<%= check_box_tag "q[is_tv_eq]", true %> TV
					</div>
					<div class="col-md-4">
						<%= check_box_tag "q[is_kitchen_eq]", true %> Kitchen
					</div>
					<div class="col-md-4">
						<%= check_box_tag "q[is_internet_eq]", true %> Internet
					</div>
					<div class="col-md-4">
						<%= check_box_tag "q[is_heating_eq]", true %> Heating
					</div>
					<div class="col-md-4">
						<%= check_box_tag "q[is_air_eq]", true %> Air Conditioning
					</div>
          <div class="col-md-4">
						<%= check_box_tag "q[is_furnished_eq]", true %> Furnished
					</div>
          <div class="col-md-4">
						<%= check_box_tag "q[is_workspace_eq]", true %> Workspace
					</div>
          <div class="col-md-4">
						<%= check_box_tag "q[is_dishwasher]", true %> Dishwasher
					</div>
          <div class="col-md-4">
						<%= check_box_tag "q[is_pets_allowed]", true %> Pets Allowed
					</div>
          <div class="col-md-4">
						<%= check_box_tag "q[is_parking]", true %> Parking
					</div>
          <div class="col-md-4">
						<%= check_box_tag "q[is_doorman]", true %> Doorman
					</div>
          <div class="col-md-4">
						<%= check_box_tag "q[is_roof_access]", true %> Roof Access
					</div>
          <div class="col-md-4">
						<%= check_box_tag "q[is_gym]", true %> Gym
					</div>
          <div class="col-md-4">
						<%= check_box_tag "q[is_pool]", true %> Pool
					</div>
				</div>

				<br>

				<div class="row">
					<%= f.submit "Search", class: "btn btn-primary" %>
				</div>

			<% end %>

			<hr>

			<div class = "row">

			  <% @arrProperties.each do |property| %>
			    <div class="col-md-6">
			      <div class="panel panel-default">
			        <div class="panel-heading preview">
			          <%= image_tag property.show_first_photo(:medium) %>
			        </div>
			        <div class="panel-body">
			          <%= link_to property.listing_name, property_path(property)%>
			        </div>
			      </div>
			    </div>
			  <% end %>
			</div>

		</div>
		</div>

	</div>

</div>

<script>
	$(function() {
		$("#start_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '12m',
			onSelect: function(selected) {
				$('#end_date').datepicker("option", "minDate", selected);
				$('#end_date').attr('disabled', false);
			}
		});

		$("#end_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '12m',
			onSelect: function(selected) {
				$('#start_date').datepicker("option", "maxDate", selected);
			}
		});
	})
</script>

<script>

	$(function(){

	if (!!$('sticky').offset()) {

		var stickyTop = $('.stick').offset().top;

		$(window).scroll(function(){

			var windowTop = $(window).scrollTop();

			if (stickyTop < windowTop) {
				$('.sticky').css({position: 'fixed', top: 0});
			}
			else {
				$('.sticky').css('position', 'static');
			}
		});
	}
});

</script>
